@import "./common/common";
@import "./pages/home";
@import "./pages/login";
@import "./pages/employees";
@import "./pages/employee-profile";
@import "./pages/form-list-view-page";
@import "./pages/single-form";
@import "./pages/group-form";
@import "./pages/sailor-dashboard";
@import "./pages/chat-box";